/********************************************************/
/**************** CUSTOM STYLES FOR WIKI ****************/
/********************************************************/

/********************************************************/
/* OVERRIDE PREDEFINED STYLES */

#wiki-wrapper
{
    padding-left: 30px;
    padding-right: 30px;
}

#head > .actions
{
    position: absolute;
}

#head > h1
{
    margin-top: 2em;
}

#wiki-body
{
    margin-right: 0;
}

.actions > .minibutton
{
    margin-left: 0;
    margin-right: 0.6em;
}

.markdown-body
{
    padding: 0;
    font-size: 12pt;
}

.markdown-body p:empty
{
    display: none; /* probably a bad way of adding space between page items */
}

.markdown-body .toc, .markdown-body pre.highlight
{
    margin-bottom: 2em;
}

.toc ul ul ul
{
    padding-left: 25px;
}

.markdown-body > *:not(.toc)
{
    /* either we pad all elements recursively (all but toc and its children) or we pad nothing at all...
    padding-left: 15px;
    padding-right: 15px;
    */
}

.markdown-body h2
{
    margin: 2.5em 0 15px;
}

.markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6  
{
    margin: 1.5em 0px 10px;
}

/********************************************************/
/* OUR OWN HORIZONTAL NAVIGATOR */

.horizontal-navigator
{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: lightgray;
    margin-bottom: 25px;
}

.horizontal-navigator .span
{
    font-weight: bold;
    font-size: 20px;
}

/********************************************************/
/* HEADER AUTO-NUMBERING */

body
{
    counter-reset: section;
}

h2
{
    counter-reset: sub-section;
}
h3
{
    counter-reset: composite;
}
h4
{
    counter-reset: detail;
}

/* use UNICODE's '\0000a0' (non-breaking space) to manually add space between the header numbers and text */

h2:before
{
    counter-increment: section;
    content: counter(section) "\0000a0\0000a0";
}
h3:before
{
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) "\0000a0\0000a0";
}
h4:before
{
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) "\0000a0\0000a0";
}
h5:before
{
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) "\0000a0\0000a0";
}
   
/********************************************************/
/* VARIOUS OTHER STYLES */

.embeddedVideo
{
    margin: 15px 0; /* to match ".markdown-body p" */
}