@CHARSET "US-ASCII";

.imageViewer
{
	border: 1px solid gray;
}

.imageViewer-toolbar, .imageViewer-toolbar .v-panel-content 
{
	background-color: gray;
}

.imageViewer-toolbar .v-panel-content /* container for toolbar */
{
	padding: 10px;
}

.imageViewer-toolbar .v-label /* text in toolbar */
{
	color: white;
}

.imageViewer .v-slot:nth-child(2) /* container for image scaler */
{
	padding: 5px;
	overflow: scroll;
}