@CHARSET "US-ASCII";

.linkLabel-standard
{
	text-decoration: underline;
	color: blue;
}

.linkLabel-standard:hover
{
	color: orange;
}

.linkLabel-bannerArea
{
	text-decoration: underline;
	color: gold;
}

.linkLabel-bannerArea:hover
{
	text-decoration: underline;
	color: orange;
}