@CHARSET "US-ASCII";

.expEditor
{
}

.expEditor.v-customlayout
{
	overflow: scroll;
}

.expEditor-menu
{
}

.v-slot-expEditor-toolbar
{
	padding-left: 10px; /* override Vaadin's styles not to display the toolbar at the browser viewport */
}

.expEditor-toolbar /* HorizontalLayout representing the toolbar itself */
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.expEditor-menu .v-menubar-menuitem-expEditor-menu-topLevelItem, .v-slot-expEditor-toolbar .v-captiontext
{
	/* override Vaadin's menu bar's top-level menu items */
	font-size: 14px;
	font-weight: bold;
}

.loadExperimentDialogContent
{
	margin-bottom: 10px;
}

.loadExperimentDialogContent .pagingComponent
{
	padding-left: 15px;
	padding-right: 15px;
}