<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="configuration" class="org.pikater.core.agents.configuration.XmlConfigurationProvider" scope="singleton">
        <constructor-arg index="0">
              <value>configuration.xml</value>
        </constructor-arg>
    </bean>
<!--
    <bean id="configuration" class="pikater.configuration.XmlConfigurationProvider" scope="singleton">
        <constructor-arg name="filePath" value="configuration.xml"/>
    </bean>
-->
    <bean id="logger" class="org.pikater.shared.logging.ConsoleLogger" scope="singleton"/>

    <bean id="guidGenerator" class="org.pikater.core.agents.system.computationDescriptionParser.dependencyGraph.IncrementalGUIDGenerator" scope="singleton"/>

    <bean id="agentTypesProvider" class="org.pikater.core.agents.system.Agent_TypesFromFileProvider" scope="singleton"/>

    <bean id="honza_local" class="org.pikater.shared.database.PostgreSQLConnectionProvider" scope="singleton">
        <constructor-arg index="0">  <!-- url -->
              <value>jdbc:postgresql://nassoftwerak.ms.mff.cuni.cz:5432/pikater</value>
        </constructor-arg>
        <constructor-arg index="1">  <!-- username -->
              <value>pikater</value>
        </constructor-arg>
        <constructor-arg index="2">  <!-- password -->
              <value>SrapRoPy</value>
        </constructor-arg>
    </bean>
<!--
    <bean id="dataModel" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" scope="singleton">
        <constructor-arg index="0">
              <value>pikaterDataModel</value>
        </constructor-arg>
    </bean>
-->

    <bean id="dataModel" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
         <property name="persistenceUnitName" value="pikaterDataModel"/>
    </bean>
    
</beans>
