<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="configuration" class="pikater.configuration.XmlConfigurationProvider" scope="singleton">
        <constructor-arg index="0">  <!-- filePath -->
              <value>configuration.xml</value>
        </constructor-arg>
    </bean>

    <bean id="logger" class="pikater.logging.ConsoleLogger" scope="singleton"/>

    <bean id="agentTypesProvider" class="pikater.agents.management.AgentTypesFromFileProvider" scope="singleton"/>

    <bean id="honza_local" class="pikater.data.PostgreSQLConnectionProvider" scope="singleton">
        <constructor-arg index="0">  <!-- url -->
              <value>jdbc:postgresql://nassoftwerak.ms.mff.cuni.cz:5432/pikater</value>
        </constructor-arg>
        <constructor-arg index="1">  <!-- username -->
              <value>pikater</value>
        </constructor-arg>
        <constructor-arg index="2">  <!-- password -->
              <value>a</value>
        </constructor-arg>
    </bean>

    <bean id="dataModel" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="pikaterDataModel"/>
    </bean>

    <bean id="queryFactory" class="pikater.data.schema.SqlQueryFromFileFactory" scope="singleton">
        <constructor-arg index="0">  <!-- queryDirectoryPath -->
              <value>databaseSchema</value>
        </constructor-arg>
    </bean>
</beans>
