<table class="maxWidth maxHeight">
	<tbody>
	    <tr class="avbl-firstRow">
	        <td colspan="3"><div class="maxHeight" location="NORTH"></div></td>
	    </tr>
	    <tr class="avbl-secondRow">
	        <td class="avbl-firstColumn"><div class="maxHeight" location="WEST"></div></td>
	        <td class="avbl-secondColumn"><div class="maxHeight" location="CENTER"></div></td>
	        <td class="avbl-thirdColumn"><div class="maxHeight" location="EAST"></div></td>
	    </tr>
	    <tr class="avbl-thirdRow">
	        <td colspan="3"><div class="maxHeight" location="SOUTH"></div></td>
	    </tr>
    </tbody>
</table>