/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin pikater {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /********************************/
  /* Insert your theme rules here */
  /********************************/
  
  /* Layout styles */
  .topLevelElement
  {
  	width: 1200px;
  	margin-left: auto;
  	margin-right: auto;
  }
  
  .pikaterDialogContent
  {
  	padding-top: 5px;
  	padding-bottom: 5px;
  	padding-left: 15px;
  	padding-right: 15px;
  }
  
  /* Icon button */
  .icon-button
  {
	border: 1px outset #ddd;
	
	margin: 0;
	padding: 0;
	
	border-radius: 75%; 
	-moz-border-radius: 75%; 
	-webkit-border-radius: 75%;
  }
  .icon-button:active
  {
    border: 1px inset #ddd;
  }
  
  /* TODO Toggle button */
  .toggle-button
  {
  	border: 2px outset #ddd;
  }
  .toggle-button:active
  {
    cursor: pointer;
  }
  .toggle-button-pushed
  {
    border: 2px inset #ddd;
  }
  
  /* Miscellaneous global styles */
  .maxWidth
  {
  	width: 100%;
  }
  .maxHeight
  {
  	height: 100%;
  }
  .autoWidth
  {
  	width: auto;
  }
  .autoHeight
  {
  	height: auto;
  }
  .displayBorder
  {
  	border: 1px solid black;
  }
  .okLabel
  {
  	color: green;
  }
  .errorLabel
  {
  	color: red;
  }
}
