/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin pikater {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /********************************/
  /* Insert your theme rules here */
  /********************************/
  
  /* Miscellaneous global styles */
  .maxWidth
  {
  	width: 100%;
  }
  .maxHeight
  {
  	height: 100%;
  }
  .autoWidth
  {
  	width: auto;
  }
  .autoHeight
  {
  	height: auto;
  }
  .displayBorder
  {
  	border: 1px solid black;
  }
  .okLabel
  {
  	color: green;
  }
  .errorLabel
  {
  	color: red;
  }
}