/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin pikater {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /********************************/
  /* Insert your theme rules here */
  /********************************/
  
  /* Console component */
  .consoleComponentInputField
  {
  	min-height: 25px;
  	max-height: 25px;
  }
  .consoleComponentOutput
  {
  	word-wrap: break-word;
  	background-color: white;
    border-radius: 3px 3px 3px 3px;
  	font-family: "Courier New", Courier, monospace;
  }
  
  /* Cell browser */
  .cellbrowser
  {
  	border: 1px solid black;
  }
  .cellbrowser-column
  {
  	height: 100%;
  }
  .cellbrowser-column-cell
  {
  	width: 100%; /* this is needed for some parent containers too */
  	min-width: 150px;
  	border-style: ridge;
  }
  .cellbrowser-column-cell:hover
  {
  	border-style: groove;
  }
  .cellbrowser-column-cell-inner-layout
  {
  	width: 100%;
  }
  .cellbrowser-column-cell-inner-layout-table:hover, .cellbrowser-column-cell-inner-layout-table-selected 
  {
  	background-color: lightyellow;
  }
  .cellbrowser-column-cell-component
  {
  	padding-top: 3px;
  	padding-bottom: 3px;
  	margin-left: 10px;
  	margin-right: 25px;
  }
  .cellbrowser-column-cell-image
  {
  }
  
  /* Miscellaneous */
  .displayBorder
  {
  	border: 1px solid black;
  }
  .okLabel
  {
  	color: green;
  }
  .errorLabel
  {
  	color: red;
  }
  .autoHeight
  {
  	height: auto;
  }
}
